#about{
    /* background-color: rgb(253, 253, 250); */
    background-color: white;
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    padding-top: 50px;
}

h1 {
    /* padding-top: 2em;
    padding-bottom: 1em; */
}

.type-div {
    margin-top: 4em;
}

.type-div > h3{
   margin-top: 2%;
}

.container {
    display: flex;
    /* background-color: antiquewhite; */
    position: relative;
    min-width:95%;
    height: 90%;
    flex-wrap: nowrap;
   
    flex-direction: row;
}

.item1, item2 {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    min-height: 300px;
    flex: 30%
}

.flex-item1 {
    flex: 60%;
    position: relative;
    /* background-color: aquamarine; */
    text-align: start;
    align-self: stretch;
}

.flex-item2 {
    position: relative;
    flex: 20%;
    margin-top: 0
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    h1 {
        padding-top: 0.2em;
    }
}