#contact {
    box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    padding-top: 50px;
    width: 100%;
    margin-top: -100px;
    background: var(--contact-bg)
}

.connect-form{
   margin: 0 auto;
   padding: 2%;
}

.contact-header {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: 900;
}

.light {
    --contact-bg: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.dark {
    --contact-bg:  #23283e;
}

.contact-btn {
    background-color: #5d53b5;
}

#contact hr {
   margin-bottom: 0;
}