.header {
    min-height: 5em;
    width: 90%;
    margin: 0 auto;
}

.nav-div{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: auto;
}


.az {
    color: #6b94fa;
    padding: 0 0 0.3em 0;
    position: relative;
    font-weight: bold;
    margin: 15px;
}

.az:hover {
    text-decoration:  none;
    color: #95b1f6;
}

.az::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: #ffd500;
    transition: width 0.3s ease-in;
}

.az:hover::before,
.az:focus::before {
    width: 100%;
}

.nav-link {
    color: var(--clr-primary);
    padding: 0 0 0.3em 0;
    position: relative;
    font-weight: bold;
    margin: 15px;
}

.selected{
    color: #ffffff !important;
    text-shadow: 2px 2px 4px #000000;
}

.nav-link:hover {
    color: #ffffff !important;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
    transition: 500ms;
}
.nav-link::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: #ffd500;
    transition: width 0.3s ease-in;
}

.nav-link:hover::before,
.nav-link:focus::before {
    width: 82%;
}

.icon-span {
    /*opacity:0.5;*/
    /*transition: 3s ease;*/
    margin: 50px 10px;
}

.icon-span:focus,
.icon-span:hover{
    /*opacity:1;*/
    /*transition: 2s ease;*/
}

.wolf {
    width: 35px;
    height: 35px;
    background-color: lightgrey;
    border-radius: 50%;
}

@keyframes mode {
    100% {
        background-color: whitesmoke;
        box-shadow: 0px 0px 5px whitesmoke,
        0px 0px 25px whitesmoke,
        0px 0px 50px whitesmoke,
        0px 0px 100px whitesmoke;

    }
}

.wolf:hover{
    animation-name: mode;
    animation-duration: 2s;
    cursor: pointer;
}

@media (max-width: 991px) {
    .nav-link:hover::before,
    .nav-link:focus::before {
        width: 12%;
    }
    .header {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .header {
        margin-bottom: 1em;
    }
    .nav-link:hover::before,
    .nav-link:focus::before {
        width: 25%;
    }
}