.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  /*color: var(--clr-fg);*/
  /*background-color: var(--clr-bg);*/
  background-color: var(--clr-bg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
main{
  width: 90%;
  height: 100%;
  margin: 2% auto;
}



.light {
  /*--clr-bg: #fcfcfc;*/
  --clr-bg: rgba(193, 216, 253, 0.5);
  --clr-bg-alt: #fff;
  /*--clr-fg: #555;*/
  /*--clr-fg-alt: #444;*/
  /*--clr-primary: #117ef3;*/
  /*--shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #656599;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
  font-weight: bold;
}

.link:hover {
  color: var(--clr-primary);
  text-decoration: none;
}
.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}























