.App {
  margin: auto;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background: var(--clr-bg);
  transition: 2s;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
main{
  width: 90%;
  height: 100%;
  margin: 3% auto;
  /*border: 1px solid #ccc;*/
  /*background-color: var(--clr-bg-alt);*/
  /*background-image: var(--clr-bg-alt);*/
  /*background: linear-gradient(to top, #f2f6f6 40%, #eeeef3 10%);*/

  /*border-radius: 15px;*/
  /*box-shadow: var(--shadow);*/
}

.light {
  --clr-bg: linear-gradient(to top, #e6e9ea 0%, #fff1eb 100%);
  /*--clr-bg-alt: #fff;*/
  /*--clr-bg-alt: #e2ecf3;*/
  --clr-bg-alt: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  --clr-fg: #555;
  --clr-hr: #90c6e2;
  --clr-fg-alt: #444;
  --clr-primary: #117ef3;
  --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #656599;
  --clr-hr: #eaf6f6;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --shadow: 0 10px 40px rgba(231, 226, 226, 0.19), 0 6px 30px rgba(221, 222, 224, 0.23);
}


.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
  font-weight: bold;
}

.link:hover {
  color: var(--clr-primary);
  text-decoration: none;
}
.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}

.hr-dotted{
  border: dotted var(--clr-hr) 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

@media (max-width: 991px) {
   main{
     width: 100%;
  }
}