.App {
  margin: auto;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  transition: 2s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
main{
  width: 90%;
  height: 100%;
  margin: 2% auto;
  border: 2px solid #ccc;
  background-color: var(--clr-bg-alt);
  border-radius: 15px;
  box-shadow: var(--shadow);
}



.light {
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #117ef3;
  --shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #656599;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --shadow: 0 10px 40px rgba(231, 226, 226, 0.19), 0 6px 30px rgba(221, 222, 224, 0.23);
}


.link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
  font-weight: bold;
}

.link:hover {
  color: var(--clr-primary);
  text-decoration: none;
}
.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--clr-primary);
  transition: width 0.2s ease-in;
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  color: var(--clr-fg);
  text-transform: lowercase;
  font-weight: 500;
}

.link--icon {
  color: var(--clr-fg);
}